@import "reset.css";

header .container {
    width: 1100px;
    margin: 0 auto;

}

header .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

header {
    padding: 20px 0;
}


header .header-left {
    width: 25%;
}

header .header-right {
    width: 75%;
}

header .header-right  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    
}

header .header-right  nav ul li {
    
    display: inline-block;
    white-space: nowrap;
}

header a {
    font-size: 14px;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
}
header .header-right a:hover{
    color: white;
    background-color: #ffbb42;
}



main .banner{
    background-color: #709dca;
}
main .banner .container .row p, main .banner .container .row h1{
    color: white;
    text-align: center;
}
main .banner .container .row h1{
    padding-top: 80px;
    margin: 0;
}
main .banner .container .row p{
    margin-bottom: 20px;
}
form{
    display: flex;
    justify-content: center;
}
main .banner .container .row .item{
    padding-bottom: 420px;
}
button {
	width: 300px;
    height: 40px;
	font-size: 13px;
	background: #ffbb42;
    color: white;
    padding: 0;
    border-width: 0;
}
input{
    resize: none;
    width: 250px;
    height: 40px;
    margin: 5px;
    color: grey;
    font-family: 'Times New Roman', Times, serif;
    border: none;
}
input#fullname , input#Email , input#phone{
        background-repeat:no-repeat;
        background-attachment:scroll;
        background-position:0 center;
        padding-left:40px
}
input#fullname {
    background-image:url('../images/NAME.png')
}
input#Email {
    background-image:url('../images/EMAIL.png')
}
input#phone {
    background-image:url('../images/PHONE.png')
}
.button{
    width: 250px;
    height: 40px;
	font-size: 13px;
	background: #ffbb42;
    color: white;
    padding: 0;
    border-width: 0;
}


.laptop{
    text-align: center;
    margin: -370px;
}
.laptop img{
    width: 800px;
    height: 500px;
}



main .banner_2 .container{
    width: 1100px;
    margin: 0 auto;
}

main .banner_2{
    margin-top: 300px;
    padding-top: 100px;
    padding-bottom: 100px;
}
main .banner_2 .container .row{
    padding-bottom: 50px;
}
main .banner_2 .container .row h1 , main .banner_2 .container .row .middle{
    text-align: center;
}
main .banner_2 .container .row h1 {
    margin:0;
}


main .banner_2  .container .rows{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 30px;
}
main .banner_2 .container .rows .item{
    width: 50%;
    display: flex;
}
main .banner_2 .container .rows .item:first-child{
    padding-right: 70px;
}
main .banner_2 .container .rows .item .item_left{
    width: 20%;
    padding-top: 45px;
}
main .banner_2 .container .rows .item .item_right{
    width: 80%;
}
